language: ruby
rvm:
 - 2.1.0
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq build-essential libsdl2-dev libsdl2-ttf-dev libpango1.0-dev libgl1-mesa-dev libfreeimage-dev libopenal-dev libsndfile-dev
