---
layout: default
---

%h3 Why use Gamebox? 

%p Gamebox was designed to spring board game development. It allows the developer to define business rules about a game very quickly without having to worry about resource loading, sound/music management, creating windows, or messing with viewports. Gamebox allows you to define a game's business rules within minutes, using the metaphor of a 5th grade play.
%p The driving idea behind Gamebox is to provide the ability to have as many of the basic common pieces of a 2D game at the developers disposal from the beginning.

%h3 Alien Actor from OMG Aliens
:plain
  {% highlight ruby %}{% include code/alien.rb %}{% endhighlight %}

%h3 Junk Filler
3 wolf moon keytar trust fund, 90's hashtag stumptown consequat ex qui. Wolf authentic american apparel kitsch, chambray id ex cardigan blue bottle helvetica. Cliche anim organic Wes Anderson bitters, leggings odio viral meggings eu est. 

Odio aliqua Wes Anderson ut, Bushwick whatever roof party craft beer Truffaut. Pickled pariatur proident meggings, 90's before they sold out shoreditch Marfa reprehenderit Cosby sweater Tonx. Umami +1 Odd Future leggings pour-over, Brooklyn qui keytar yr. Reprehenderit Truffaut dolor pop-up single-origin coffee accusamus try-hard, McSweeney's ea.

%h3 License

%p The MIT License (MIT)
%p Copyright &copy; 2013 Shawn Anderson
%p Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
%p The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
%p THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
