%ul.nav.nav-tabs.nav-stacked.affix
  %li 
    %a(href='#core') Core
  %li 
    %a(href='#stages') Stages
  %li 
    %a(href='#behaviors') Behaviors
  %li 
    %a(href='#actors') Actors
  %li 
    %a(href='#tutorial') Tutorial
  %li 
    %a(href='#examples') Examples
  %li 
    %a(href='#extras') Extras
