!!!

%html
  %head
    %title Gamebox
    %link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    %link(href="/stylesheets/application.css" rel="stylesheet")
    %link(href="/stylesheets/syntax.css" rel="stylesheet")


  %body
    .content
      {% haml header.haml %}
      .row
        .span3
          {% haml aside.haml %}
        .span9
          {{ content }}
